.heading-primary {
    font-size: var(--font-size-600);
    color: var(--font-secondary-color);

    padding: 2rem 3rem;

    background-color: var(--primary-background-color-600);
}

.heading-secondary {
    font-size: var(--font-size-400);
    color: var(--font-secondary-color);

    margin: -2.5rem 0 2rem 0;
    padding: 0rem 3rem;

    background-color: var(--primary-background-color-600);
}